<div class="login-auth-page">
    <div class="login-auth-wrapper">
        <h3>Recuperar Password</h3>

        <!-- Separador -->
        <div class="separator"></div>

        <!-- Formulario de login -->
        <form (ngSubmit)="recuperarPassword()"
              [formGroup]="miFormulario"
              class="login-auth-form"
              autocomplete="off">
    
            <div class="form-group">
                <label for="email">Dirección de correo</label>
                <input formControlName="email"
                       type="text"
                       placeholder="Introduce tu dirección de correo"
                       class="form-input">
            </div>
            <br>
            

            <div class="form-action">
                <button class="login social-btn"
                        [disabled]="miFormulario.invalid">
                            Enviar Email
                            <app-spinner *ngIf="loading "></app-spinner>
                </button>
            </div>
        </form>
    </div>
</div>
